@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Light.eot");
  src: url("fonts/roboto/subset-Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Light.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Light.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Light.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-BoldItalic.eot");
  src: url("fonts/roboto/subset-Roboto-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-BoldItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-BoldItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-BoldItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-BoldItalic.svg#Roboto-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Thin.eot");
  src: url("fonts/roboto/subset-Roboto-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Thin.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Thin.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Thin.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-BlackItalic.eot");
  src: url("fonts/roboto/subset-Roboto-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-BlackItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-BlackItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-BlackItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-BlackItalic.svg#Roboto-BlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Medium.eot");
  src: url("fonts/roboto/subset-Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Medium.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Medium.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Medium.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-LightItalic.eot");
  src: url("fonts/roboto/subset-Roboto-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-LightItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-LightItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-LightItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-LightItalic.svg#Roboto-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Bold.eot");
  src: url("fonts/roboto/subset-Roboto-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Bold.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Bold.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Bold.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-ThinItalic.eot");
  src: url("fonts/roboto/subset-Roboto-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-ThinItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-ThinItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-ThinItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-ThinItalic.svg#Roboto-ThinItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Italic.eot");
  src: url("fonts/roboto/subset-Roboto-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Italic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Italic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Italic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-MediumItalic.eot");
  src: url("fonts/roboto/subset-Roboto-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-MediumItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-MediumItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-MediumItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-MediumItalic.svg#Roboto-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Regular.eot");
  src: url("fonts/roboto/subset-Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Regular.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Regular.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Regular.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Black.eot");
  src: url("fonts/roboto/subset-Roboto-Black.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Black.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Black.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Black.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "roboto";
}
.link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
}
.item {
  display: inline-block;
  margin-right: 42px;
}
.link:hover {
  color: #34547a;
}
.header {
  padding: 79px 0 141px 0px;
  background-color: #eeeff1;
}
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  margin-bottom: 160px;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 45px;
}
.text {
  width: 540px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 0px 0px 73px 0px;
}
.button {
  display: inline-block;
  width: 225px;
  height: 65px;
  background-color: #34547a;
  text-align: center;
  padding: 19px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}
.about {
  margin: 0px auto 0px auto;
  padding: 112px 0px 89px 0px;
}
.textabout {
  width: 540px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 0px auto 73px auto;
}
.titleabout {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 45px;
  text-align: center;
}
.projects {
  padding: 100px 0px 100px 0px;
  height: 250px;
  background-color: #34547a;
}
.card-img {
  display: inline-block;
}
.card-info {
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
}
.cardnumber {
  margin-bottom: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  color: #ffffff;
}
.cardname {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.card {
  margin-right: 45px;
  display: inline-block;
}
.card:last-child {
  margin-right: 0px;
}
.video {
  margin: 0px auto 0px auto;
  padding: 112px 0px 89px 0px;
  background-color: #eeeff1;
}
.footerin {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  background-color: #34547a;
  padding: 50px 0px;
}
.footerrights {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.footername {
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  color: #ffffff;
}
